*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --width: 600px;
}

body{
    font-family: sans-serif;
}

.bg-1{
    height: 100vh;
    background: url('uber_background.webp') no-repeat scroll center top transparent;
    object-fit: cover;

}

nav .list-bar{
    display: flex;
    list-style-type: none;
    color: white;
}

nav .list-bar li .right-side{
    display: flex;
    list-style-type: none;
}

nav{
    background-color: black;
    padding: 10px;
}

nav .list-bar>li:first-of-type{
    padding: 10px;
}

nav li>a{
    text-decoration: none;
    color: white;
}

.right-side li a{
    text-decoration: none;
    color: #FFFFFF;
}

.right-side li{
    padding: 10px;
}

.list-bar>li:nth-of-type(2){
    flex-grow: 1;
}

.right-side li button{
    border-style: none;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #000000;
}

.container{
    position: absolute;
    top: 150px;
    left: 100px;
    background: white;
    display: inline-block;
    border-radius: 30px;
    margin-bottom: 50px;
    width: var(--width);
    overflow: hidden;
}

.container .flex{
    position: relative;
    display: flex;
    justify-content: space-around;
    
}

.container .flex .inner-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    font-size: 13px;
    font-weight: 600;
}

.inner-flex:hover{
  cursor: pointer;
}

.container .flex .inner-flex img{
    height: 25px;
    width: 25px;
}

.container .flex{
    border-bottom: 1px solid #575757;
}

.flex .breaker{
  position: absolute;
  left: 32px;
  bottom: 0;
  width: 120px;
  height: 3px;
  background: #000000;
  transition: 0.5s;
}

.content{
    position: relative;
    display: flex;
    width: calc(3 * var(--width));
    transition: 0.5s ease;
}

.content .content-1{
    width: var(--width);
}

.content .content-2{
    width: var(--width);
  }

.content-3{
    width: var(--width);
}


.text{
    font-size: 41px;
    font-weight: 600;
    margin: 30px auto;
    text-align: center;
    letter-spacing: 2px;
}

.content .content-1 div input{
    display: block;
    width: 80%;
    margin: 10px auto;
    font-size: 13px;
    padding: 15px;
    background-color:whitesmoke;
    border-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s ease;
}

.content .content-1 div input:focus{
    font-size: 15px;
    outline: none;

}

.content .content-1 div:last-of-type{
    padding: 10px;
    margin-bottom: 20px;
}

.content .content-1 div button{
    display: block;
    padding: 10px;
    width: 80%;
    margin: 20px auto;
    border-radius: 9px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: none;
    font-size: 15px;
    color:aqua;
    background-color: #000000;
    cursor: pointer;
    transition: 0.5s ease;
}

.content-1 div button:hover{
    background-color: aliceblue;
    color: #000000;
}


.content-2{
    text-align: center;
}

.content-2>p{
    padding: 15px;
    font-weight: normal;
    font-size: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
}

.content-2>button{
    padding: 15px;
    width: 60%;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    border-style: none;
    color: aqua;
    background-color: #000000;
    transition: 0.3s ease;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.content-2>button:hover{
    background-color: aliceblue;
    color: #000000;
}

.content-2 .underline{
    height:1px;
    width: 48%;
    background-color:burlywood;
    margin: 0 auto;
}

.content-2 .underline .expansion{
    width: 0;
    background-color: aqua;
    height: 3px;
    margin: 0 auto;
    transition: 0.8s ease;
}

.content-2 a#link{
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 2px;
    text-decoration: none;
    color: #575757;
}

.content-2 a#link:hover + .underline .expansion{
    width:100%;
}

.content-3 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 45px;
}

.content-3 button{
    padding: 15px;
    margin: 20px 45px;
    width: 130px;
    color: aqua;
    background-color: #000000;
    border-style: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.content-3 button:hover{
    background-color: aliceblue;
    color: #000000;
}

#input-1:checked ~ .content{
    translate: 0;
}

#input-2:checked ~ .content{
    translate: -600px;
}

#input-3:checked ~ .content{
    translate: -1200px;
}

input[type="radio"]{
    display: none;
}

#input-1:checked ~ .flex .breaker{
    translate: 0;
}

#input-2:checked ~ .flex .breaker{
    translate: 188px;
}

#input-3:checked ~ .flex .breaker{
    translate: 400px;
}

button{
    box-shadow: 0;
}

button:hover{
    box-shadow: 2px 2px 16px 2px aqua, -2px -2px 16px 2px aqua;
}